.card1
{
    display: flex;
    flex-wrap: wrap;
}
.container 
{
    max-width: 1300px;
    margin: auto;
}
.res 
{
    margin: 20px;
    width: calc(33.33% - 40px);
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px gainsboro;
}
.restaurant 
{
    text-align: center;
}
.restaurant img 
{
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}
.restaurant img:hover
{
    transform: scale(1.2);
    overflow: hidden;
}
.restaurant h3 
{
    font-size: 26px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.restaurant h4 
{
    font-size: 20px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input
{
    width: 70px;
    height: 25px;
}
.bill
{
    background-color: #ffc300;
    margin-top: 20px;
    height: 385px;
}
.bill h1 
{
    padding: 20px;
    text-align: center;
    font-family:serif;
}
